{{partial "navbar"}}

{{outlet}}

{{#if slides.length}}
  <ol id="slides">
    {{#each slides}}
      <li>
        Slide ID:{{id}}, layout: {{layoutName}}

        <ul>
          {{#each panes}}
            {{{markup}}}
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ol>
{{else}}
  <h3>You need to add some slides if you want to see something here.</h3>
{{/if}}
