<div id="manage-slides" class="well">
  {{ render "slides.new" }}

  <ol>
    {{#each slide in content}}
      <li>I am a slide: {{slide.id}} - {{slide.layoutName}}</li>
      <ul>
        {{#each pane in slide.panes}}
          <li>id: {{ pane.id }} - {{ pane.position }}</li>
        {{/each}}
      </ul>
    {{/each}}
  </ol>
</div>
