<h3>I am the Quarters layout. {{ slide.layoutName }}?</h3>

<p>Content For First Position: !{{renderPaneFor slide position="1"}}!</p>
<p>Content For Second Position: !{{renderPaneFor slide position="2"}}!</p>
<p>Content For Third Position: !{{renderPaneFor slide position="3"}}!</p>
<p>Content For Fourth Position: !{{renderPaneFor slide position="4"}}!</p>

{{ yield }}
