%h2 Configuring #{@source.name}

= form_tag admin_source_path(@source.name), method: :put do
  - @source.configurable_attributes.each do |attribute|
    - current_configured_attribute = AllAboard::ConfiguredAttribute.where(source_name: @source.name, name: attribute).first

    = label_tag "configurable_attributes[#{attribute}]", attribute.to_s.humanize
    = text_field_tag "configurable_attributes[#{attribute}]", current_configured_attribute.try(:value)

  = submit_tag "Save"
