%h2 Configuring #{@source.name}

= form_tag admin_source_path(@source.name), method: :put do
  - @source.configurable_attributes.each do |attribute|
    = label_tag "configurable_attributes[#{attribute}]", attribute.to_s.humanize
    = text_field_tag "configurable_attributes[#{attribute}]", @source.configuration[attribute]

  = submit_tag "Save"
