!!! 5

%html
  %head
    %title All Aboard
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    - if flash[:notice]
      %h2= flash[:notice]

    = yield
